.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.page {
  background-color: #EAB996;
}

.wood {
  background-color: #CB7666;
}

.ivory {
  background-color: #F1ECE4;
}

.rose {
  background-color: #A93D49;
}

.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
  padding-left: 2rem;
}

.month .month-title {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 2rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 2px dashed rgb(0, 0, 0);
  border-left: 2px dashed rgb(0, 0, 0);
  min-height: 5.2rem;
}

.calendar .days li:nth-child(7n){
  border-right: 2px dashed rgb(0, 0, 0);
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.date {
  margin-right: 4rem;
  margin-left: 4rem;
}

.entry {
  padding-right: 1rem;
  padding-left: 1rem;
}

.draw-button {
  margin-left: 3px;
}

.calendar .days li.outside .date {
  color: rgb(120, 120, 120);
}

a:hover {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
}
