<div class="modal fade" id="html-modal" tabindex="-1" role="dialog" aria-labelledby="closeModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="html-modal-title">Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <textarea id="html-modal-source" class="form-control" aria-label="Raw HTML" spellcheck="false" wrap="off"></textarea>
        </div>
        </div>
    </div>
</div>
