<div class="modal fade" id="simple-modal" tabindex="-1" role="dialog" aria-labelledby="closeModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="simple-modal-title">Title</h5>
            <button type="button" id="simple-modal-close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="simple-modal-body" class="modal-body">
            Message
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<script>
    let showMessageSimpleModal = function(modalTitle, modalMessage) {
        $('#simple-modal-title')[0].innerText = modalTitle;
        $('#simple-modal-body')[0].innerHTML = modalMessage;
        $('#simple-modal').modal('show');
    }

    $(document).on('keypress', '#simple-modal', function(e) {
        e = e || window.event;
        var key = e.which || e.keyCode;
        if (key === 13) {
            $('#simple-modal-close')[0].click();
        }
    })
</script>