<!-- Editable Text Area (server-rendered) -->
<div class='col col-md-11 py-2 border border-dark rounded bg-white mt-2 entry-region-{{ item.index }}' name='paragraph{{ item.index }}'>
    <form method = 'get' action = '' class = 'card container'>
        <textarea class='entry-text save-content' name='message' cols='40' rows='10' required='' id='paragraph{{ item.index }}' aria-hidden='true' style='min-height: {{ item.data.height }}px;' data-height='{{ item.data.height }}'>{{ item.data.text|safe }}</textarea>
    </form>
</div>
<!-- Edit Buttons -->
<div class='col col-md-1 py-2 entry-region-{{ item.index }}'>
    <div class='row ml-3 mt-3'>
        <button id='delete-content{{ item.index }}' class='btn btn-primary btn-sm talk-to px-2 edit-button' data-toggle='tooltip' title='Delete' name='.entry-region-{{ item.index }}'>
            <i id='delete-content{{ item.index }}' class='fa fa-trash style header_button_icon' name='.entry-region-{{ item.index }}'></i>
        </button>
    </div>
    <div class='row ml-3 mt-3'>
        <button id='insert-paragraph{{ item.index }}' class='btn btn-primary btn-sm talk-to px-2 edit-button' data-toggle='tooltip' title='Insert Paragraph' name='.entry-region-{{ item.index }}'>
            <i id='insert-paragraph{{ item.index }}' class='fa fa-paragraph style header_button_icon' name='.entry-region-{{ item.index }}'></i>
        </button>
    </div>
    <div class='row ml-3 mt-3'>
        <button id='insert-image{{ item.index }}' class='btn btn-primary btn-sm talk-to px-2 edit-button' data-toggle='tooltip' title='Insert Image' name='.entry-region-{{ item.index }}'>
            <i id='insert-image{{ item.index }}' class='fa fa-picture-o style header_button_icon' name='.entry-region-{{ item.index }}'></i>
        </button>
    </div>
    <div class='row ml-3 mt-3'>
        <button id='move-content-up{{ item.index }}' class='btn btn-primary btn-sm talk-to px-2 edit-button' data-toggle='tooltip' title='Move Up' name='.entry-region-{{ item.index }}'>
            <i id='move-content-up{{ item.index }}' class='fa fa-arrow-up style header_button_icon' name='.entry-region-{{ item.index }}'></i>
        </button>
    </div>
    <div class='row ml-3 mt-3'>
        <button id='move-content-down{{ item.index }}' class='btn btn-primary btn-sm talk-to px-2 edit-button' data-toggle='tooltip' title='Move Down' name='.entry-region-{{ item.index }}'>
            <i id='move-content-down{{ item.index }}' class='fa fa-arrow-down style header_button_icon' name='.entry-region-{{ item.index }}'></i>
        </button>
    </div>
</div>
