{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  
    <!-- Icons -->
    <link rel="shortcut icon" href="{% static 'image/journal.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'image/journal.ico' %}" type="image/x-icon">
  
    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/shakey.css' %}">
  
    <!-- JS -->
    <script src="{% static 'tinymce/js/prism.js' %}"></script> 
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
