
{% load static %}
{% include "Common/header.html" %}
{% include "NavBars/home-nav.html" %}
{% include "Backgrounds/Autumn.html" %}
<link rel="stylesheet" href="{% static 'css/carosel.css' %}"/>


<body>
    <div class="container">
        <br><br>
        <div class="row">
            <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                {% for year, icons in icon_paths.items %}
                    {% if forloop.counter0 == 0 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <span class="text-center carousel-caption">
                                <p></p>
                                <a href="{% url 'main:year' year %}">
                                    <h1>{{ year }}</h1>
                                </a>
                            </span>
                            <div class="d-none d-lg-block">
                                <div class="slide-box row">
                                    {% for icon in icons %}
                                        <div class="col-md-2">
                                            <img src="{{icon}}" class="img-fluid rounded-start py-1">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev btn-dark carousel-btn" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next btn-dark carousel-btn" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>
</body>