{% load static %}
{% include "Common/header.html" %}
{% include "Backgrounds/Mountains.html" %}
{% include "NavBars/year-nav.html" %}
{% include "Backgrounds/coffee.html" %}

<body>
  <div class="container">
    <div class="row">
      {% for month_name in months_in_year %}
        <div class="card my-3 mx-4 col-md-5">
          <div class="row g-0">
            <div class="col-md-4 py-2 px-2">
              <a href = "{% url 'main:month' year month_name %}">
                {% if month_name in icon_paths %}
                  <img src="{{icon_paths | get_item:month_name | safe}}" class="img-fluid rounded-start container py-3" alt="...">
                {% else %}
                  <img src="{% static 'Image/Missing.svg' %}" class="img-fluid rounded-start" alt="...">
                {% endif %}
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <a href = "{% url 'main:month' year month_name %}">
                  <h5 class="card-title" style = "color: black">{{month_name}}</h5>
                </a>
                  <p class="card-text">
                    {{ nr_entries_per_month | get_item:month_name}}
                    entr{{ nr_entries_per_month | get_item:month_name | pluralize:"y,ies"}}
                  </p>
                <p class="card-text"><small class="text-muted">
                  Last updated : {{ month_last_edited | get_item:month_name }}
                </small></p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>