
<li class = "nav-space"><wbr></li> 
<li class="breadcrumb-item active mt-1" aria-current="page">
    <a href = "{% url 'main:year' prev_year %}">
        <button type="button" class="btn btn-dark mt-1">
            <i class='fa fa-arrow-left style'></i>
            &nbsp[{{prev_year}}]
        </button>
    </a>
</li>
<li class = "nav-small-space"><wbr></li> 
<li class="breadcrumb-item active mt-1" aria-current="page">
    <button type="button" class="btn btn-dark" disabled>
        &nbsp[{{year}}]&nbsp
    </button>
</li>
<li class = "nav-small-space"><wbr></li> 
<li class="breadcrumb-item active mt-1" aria-current="page">
    <a href = "{% url 'main:year' next_year %}">
        <button type="button" class="btn btn-dark mt-1">
            [{{next_year}}]
            &nbsp<i class='fa fa-arrow-right style'></i>
        </button>
    </a>
</li>